  }
  .card-description {
    font-size: 0.91em;
  }

  h2 {
    font-size: 80px;
  }
  .share-icons a {
    color: #4da8da;
    margin-left: 10px;
    font-size: 22px;
    text-decoration: none;
  }
}
